<%= form_for(@picture) do |f|%>

  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@picture.errors.count, "error") %> prohibited
        this picture from being saved:
      </h2>
      <ul>
        <% @picture.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :artist %><br>
    <%= f.text_field :artist, :required => true %>
  </p>

  <p>
    <%= f.label :title %><br>
    <%= f.text_area :title, :required => true %>
  </p>

  <p>
    <%= f.label :url %><br>
    <%= f.text_area :url, :required => true %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
